## Time Series
Manupulating Dates

In [40]:
#Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import random as rm

In [2]:
dt.date.today()

datetime.date(2023, 3, 18)

In [4]:
print(dir(dt.date),sep ='\t')

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'ctime', 'day', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'min', 'month', 'replace', 'resolution', 'strftime', 'timetuple', 'today', 'toordinal', 'weekday', 'year']

In [5]:
dt.date.today().year

2023

In [6]:
d1 = '12-12-1993'
d1

'12-12-1993'

In [8]:
d2=dt.datetime(1993,12,12)

In [9]:
d2.month

12

In [11]:
d2+dt.timedelta(days=11)

datetime.datetime(1993, 12, 23, 0, 0)

In [14]:
d2+dt.timedelta(days=30*365)

datetime.datetime(2023, 12, 5, 0, 0)

In [15]:
from dateutil.relativedelta import relativedelta

In [18]:
d2  + relativedelta(years = 30)

datetime.datetime(2023, 12, 12, 0, 0)

In [21]:
dt.datetime.now()

datetime.datetime(2023, 3, 18, 20, 41, 36, 35176)

In [23]:
dt.datetime.today().strftime('%d %b/ %Y,%a')

'18 Mar/ 2023,Sat'

In [30]:
dt.datetime.now().strftime('%d %b/ %Y,%a %I:%M %p ')

'18 Mar/ 2023,Sat 08:51 PM '

In [31]:
print(d1,d2)

12-12-1993 1993-12-12 00:00:00

In [32]:
d3 = dt.datetime.today()

In [36]:
d4=dt.datetime.strptime('2023-01-26','%Y-%m-%d')
d4

datetime.datetime(2023, 1, 26, 0, 0)

In [39]:
(d3-d4).days

51

## Create series of Dates

In [42]:
rm.randrange(1,10)

3

In [45]:
datelist = pd.date_range(dt.datetime.today(),periods=10).tolist()
datelist

[Timestamp('2023-03-18 21:04:03.208009', freq='D'),
 Timestamp('2023-03-19 21:04:03.208009', freq='D'),
 Timestamp('2023-03-20 21:04:03.208009', freq='D'),
 Timestamp('2023-03-21 21:04:03.208009', freq='D'),
 Timestamp('2023-03-22 21:04:03.208009', freq='D'),
 Timestamp('2023-03-23 21:04:03.208009', freq='D'),
 Timestamp('2023-03-24 21:04:03.208009', freq='D'),
 Timestamp('2023-03-25 21:04:03.208009', freq='D'),
 Timestamp('2023-03-26 21:04:03.208009', freq='D'),
 Timestamp('2023-03-27 21:04:03.208009', freq='D')]

In [54]:
datelist2 = pd.date_range(start='2023-01-26',end='2023-03-21')
#datelist2[1:5]
datelist2[0]
datelist2[54]

Timestamp('2023-03-21 00:00:00', freq='D')

In [51]:
len(datelist2)

55

In [61]:
datelist3 = dt.date(2023,rm.randint(1,12),rm.randint(1,31))
datelist3

datetime.date(2023, 6, 12)

In [63]:
datelist4 = []
for _ in range(20):
    date = dt.date(2023,rm.randint(1,12),rm.randint(1,31))
    datelist4.append(date)
datelist4

[datetime.date(2023, 9, 26),
 datetime.date(2023, 11, 6),
 datetime.date(2023, 4, 8),
 datetime.date(2023, 5, 24),
 datetime.date(2023, 8, 31),
 datetime.date(2023, 6, 3),
 datetime.date(2023, 11, 2),
 datetime.date(2023, 7, 13),
 datetime.date(2023, 1, 2),
 datetime.date(2023, 4, 28),
 datetime.date(2023, 8, 21),
 datetime.date(2023, 4, 1),
 datetime.date(2023, 3, 14),
 datetime.date(2023, 10, 3),
 datetime.date(2023, 10, 17),
 datetime.date(2023, 10, 12),
 datetime.date(2023, 4, 8),
 datetime.date(2023, 7, 17),
 datetime.date(2023, 12, 16),
 datetime.date(2023, 1, 13)]

In [67]:
dt5=dt.datetime.now()+dt.timedelta(minutes =30)
dt5.strftime('%H:%M')

'21:49'